# Week 8 Code and Now You Try - Dictionaries and Sets
## Dictionaries
### Basics of a dictionary

In [2]:
# This cell is for wide display and better use of screen space
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [8]:
# Create a dictionary by directly adding values to it
phonebook = {'Chris': '555-1111', 
             'Katie': '555-2222', 
             'Jack': '555-3333'}
phonebook

{'Chris': '555-1111', 'Katie': '555-2222', 'Jack': '555-3333'}

In [1]:
# Creata a dictionary 'languages' with the following key value pairs: 
# China: Chinese, US: English, France: French
# Disply the dictionary

In [4]:
# Create an empty dictionary with a pair of {}. Display it.
empty_dict = {}
empty_dict

{}

In [6]:
# Lists can be values in a dictionary
dict1 = {'id1': [0, 1], 
          'id2': [2, 3]}
dict1

{'id1': [0, 1], 'id2': [2, 3]}

In [2]:
# Keys cannot be mutable. For example, lists cannot be used as keys
# Execute the code and see what you get
dict2 = {[0, 1]: 'id1', [2, 3]: 'id2'}

In [8]:
# Can tuples be keys of a dictionary? It is not a good practice to do so though
dict2 = {(0, 1): 'id1', (2, 3): 'id2'} 
dict2

{(0, 1): 'id1', (2, 3): 'id2'}

In [3]:
# Keys cannot be duplicate. Execute the code below, what do you get?
dict3 = {1: 'a', 1: 'b', 1: 'c'}
print(dict3)

In [4]:
# Execute the following code. What conclusion do you draw?
dict4 = {1: 'a', 2: 'a', 3: 'a'}
print(dict4)

In [5]:
# Both the keys and values can have different data types
# It is not a good practice to use keys of different types though
# Execute the code below and see what you get.
dict5 = {"A": [1, 2, 3], 2: "A string", 5.5: (True, False)}
dict5

In [6]:
# Get the number of elements in phonebook using len()

In [7]:
# Create an empty dictionary using dict() and get its length

In [8]:
# Duplicate a dictionary using copy(). Create a variable 'language2' by copying language
# Display language2

### Retrieving values from a dictionary

In [9]:
# Display phonebook dictionary created above

In [10]:
# Get the phone number of Chris using the index operator []

In [11]:
# Lily's number is not stored in the phonebook, let's try to retrieve her number and see what happens

In [12]:
# Write a if statement to check whether Lily is in the phonebook before trying to retrieve her number
# Use in and print a proper message if Lily is not in the phonebook. Otherwise, print her number

In [52]:
# Store keys in a list and iterate through the keys to retrieve values
phonebook = {'Chris': '555-1111', 
             'Katie': '555-2222', 
             'Jack': '555-3333'}
name_list = ['Chris', 'Katie', 'Lily']
for name in name_list:
    if name in phonebook:
        print(name, phonebook[name])
    else:
        print(name, 'is not in the phonebook!')

Chris 555-1111
Katie 555-2222
Lily is not in the phonebook!

In [13]:
# Use get(key, default) to retrieve values of keys. It prevents key errors by setting a default value
# Use get() to retrieve Chris's number. Use "The key is not found" as the default value

In [14]:
# Use get() to find Lily's number. Use "The key is not found" as the default value

### Update, add or remove values

In [15]:
# Display the content of the phonebook again
phonebook

{'Chris': '555-1111', 'Katie': '555-2222', 'Jack': '555-3333'}

In [15]:
# Add Bill with number "555-4444" to the phonebook and display the phonebook. Did you see Bill added?

In [16]:
# Jack's number is in the phonebook but let's update it to 555-0000. Display the phonebook

In [17]:
# Just like list, assign phonebook to another variable does not create a new dictionary.
# Assign phonebook to a new variable named phone_bk. Display phone_bk

In [18]:
# Change Chris's number in phone_bk to 22222. Dsiplay both phonebook and phone_bk

In [19]:
# Delete Chris's number using del and display phonebook

In [20]:
# Try to use del to delete Lily's number and see what happens

In [21]:
# Use if statement and in to try the deletion of Lily's number

In [22]:
# Use pop() to remove Bill from the phonebook. Save the returned value in variable bill_phone. Display
# both bill_phone and the phonebook. What conclusion can you draw?

In [23]:
# Let's try to pop Lily and see what happens.

In [24]:
# Add a new item: Helen with phone number 123-4567 in phonebook. Display phonebook

In [25]:
# See whether using pop() without any argument can return Helen's number. What do you get?

In [26]:
# Use popitem() to remove the last item inserted. Save the result to variable last_item and display
# both last_item and phonebook

In [27]:
# We have created an empty dictionary empty_dict before. Let's see what happens if popitem() is used on it.

In [28]:
# Use clear() to remove all items in phonebook and display phonebook

In [29]:
# Can clear() be used on empty_dict? Will we get an error?

### Now you try 1

In [30]:
# create a dictionary named 'plato' with the following values. Copy and paste will speed things up:
# name: Plato, country: Ancient Greece, YOB: -427, 
# teacher: Socrates, student: 'Aristotle'
# print the dictionary plato to make sure it is created properly.

In [31]:
# Find how many items are there in the dictionary

In [32]:
# Who is Platos teacher? Use the [] to find out

In [33]:
# Use get() to find his teacher. Set the default value to an appropriate message

In [34]:
# Check whether the dictionary has the information about Plato’s spouse, 
# if so, print it. If not, print out a proper message. Use get() or in

In [35]:
# Change Plato’s birth year to B.C. 428 and print out the dict to confirm

In [36]:
# Add Plato’s work to the dictionary. Use “work” as key and the following 
# values as the value of work: Apology, Phaedo, Republic, Symposium
# Include all the work into a list before adding it to the dictionary
# Display the dictionary

### Iterate Through a Dictionary with for loop

In [ ]:
# recreate phonebook to ensure the values are expected
phonebook = {'Chris': '555-1111', 
             'Katie': '555-2222', 
             'Jack': '555-3333'}

In [20]:
# Iterate through the phonebook using for loop. By default, the target variable will be the key
for key in phonebook:
    print(key)
    print(key, ":", phonebook[key])

Chris
Chris : 555-1111
Katie
Katie : 555-2222
Jack
Jack : 555-3333

In [37]:
# keys() will return keys of the dictionary

In [38]:
# Use for loop again to iterate through the keys using keys() explicitly

In [39]:
# values() will return values of the dictionary. What does the return value look like?

In [40]:
# Use for loop to iterate through all the values

In [41]:
# items() return both keys and values. Study the returned value. What is the data type?

In [42]:
# Use for loop to iterate through and print each item

In [43]:
# Use 2 target variables in the for loop to unpack the values in each item
# Print out the result

### Now You Try 2

In [44]:
# Iterate through the dictionary 'plato' using keys() and print out all the
# elements in the format: key is value. For example: name is Plato, etc.

In [45]:
# Iterate through the dictionary using items() and print out all the
# elements in the format: key - value. For example: name - Plato, etc.
# You can use either 2 target variables or 1 target variable but access key and value in it

### Nested Dictionary

In [25]:
# Create a nested dictionary where the values are dictionaries
students = {'Amy':{'major':'Finance','age':19}, 
            'John': {'major': 'Accounting', 'age': 22}, 
            'Sarah': {'major': 'Marketing', 'age': 20}} 
students

{'Amy': {'major': 'Finance', 'age': 19},
 'John': {'major': 'Accounting', 'age': 22},
 'Sarah': {'major': 'Marketing', 'age': 20}}

In [46]:
# Retrieve values associated with student Amy

In [47]:
# Retrieve Amy's major

In [48]:
# Change John's age to 80 and print out the dictionary

In [49]:
# Iterate through the dictionary using nested for loops

### Now You Try 3

In [35]:
# For the dictionary 'students' above, add gender to each student. Do this one student at a time
# Amy and Sarah: Female, John: male. dictionary students after the change

{'Amy': {'major': 'Finance', 'age': 19, 'Gender': 'Female'},
 'John': {'major': 'Accounting', 'age': 22, 'Gender': 'Male'},
 'Sarah': {'major': 'Marketing', 'age': 20, 'Gender': 'Female'}}

In [50]:
# Use keys() to print out all the keys in 'students'

In [34]:
# Use values() to print out all the values in 'students'

dict_values([{'major': 'Finance', 'age': 19}, {'major': 'Accounting', 'age': 22}, {'major': 'Marketing', 'age': 20}])

In [51]:
# iterate through 'students' to print out all the ages as in the format of Amy 19, etc. Each student in their own line

In [27]:
# Counting words. Count the number of times each word appears and save in a dictionary counts
text = '''
Writing programs (or programming) is a very creative and rewarding activity.  You can write programs 
for many reasons ranging from making your living to solving a difficult data analysis problem to having 
fun to helping someone else solve a problem.  This book assumes that everyone needs to know how to 
program and that once you know how to program, you will figure out what you want to do with your newfound skills.
'''
text

'\nWriting programs (or programming) is a very creative and rewarding activity.  You can write programs \nfor many reasons ranging from making your living to solving a difficult data analysis problem to having \nfun to helping someone else solve a problem.  This book assumes that everyone needs to know how to \nprogram and that once you know how to program, you will figure out what you want to do with your newfound skills.\n'

In [52]:
# Step 1: remove "(" and ")" from the text since they are not words
# save the result in 'clean_text'. You can use replace()

# Step 2: split clean_text into a list of words assigned to word_list


# Step 3: create an empty dictionary 'word_count_dict'. 

# Step 4: Use for loop to iterate through word_list

# Inside the loop, check whether the word exist in the dictionary. 
# If so, add 1 to its existing value. 
# If not, add a new item: the word is the key and the value is 1 
    
    
# Print word_count_dict outside of the loop

In [53]:
# What is the max number of times a word appeared? Use max(). Save result to variable max_word

In [54]:
# What is the word that appears the most number of times? Use a for loop to retrieve the word
# max(word_count_dict, key=word_count_dict.get)

## Sets
### Set basics

In [10]:
# This cannot create an empty set
set1 = {}
type(set1)

dict

In [11]:
# This create an empty set
set1 = set()
set1

set()

In [12]:
# To create a set, you must pass an iterable as an argument. Create a set based on a list
# Note that duplicates are removed
list1 = [1, 1, 2, 3]
set1 = set(list1)
set1

{1, 2, 3}

In [13]:
# A set can be created by directly pass in values in {}
set2 = {1, 2, 3, 4, 4}
set2

{1, 2, 3, 4}

In [55]:
# Note the behevior when a string is passed in to set()
set2 = set("Happy new year!")
set2

In [56]:
# in can be used to check the membership of a set. Check if "Happy" is in set2

In [16]:
# To create a set with actual strings, pass them in as a list. Note that the order is not preserved
set3 = set(['Happy', 'new', 'year', '!'])
set3

{'!', 'Happy', 'new', 'year'}

In [44]:
# The set can be created using {} directly also 
{'Happy', 'new', 'year', '!'}

{'!', 'Happy', 'new', 'year'}

In [58]:
# A set cannot contain mutable elements. Try to create a set out of sets created above
set4 = {set1, set2, set3}
# set4 = set([set1, set2, set3])

In [59]:
# Use len() to get number of element in set1

In [60]:
# Use len() to get number of element in set2

In [61]:
# Use for loop to iterate through set3

In [ ]:
# use in to check whether an element is in a set.

In [62]:
# Add a single element to a set using add(). Let's add 1 to set2 and show set2

In [63]:
# Add multiple elements to a set using update(). Add 'Health', 'Peace', "Happy"
# to set3 and display the result

In [ ]:
# Create 2 more sets. 
set4 = {"a", "b" , "c"}
set5 = {1, 2, 3}

In [45]:
# Add value 4 to set5 and display set5
set5.add(4)
set5

{1, 2, 3, 4}

In [64]:
# Use update() to add the content of set5 to set4, display set4

In [65]:
# Use remove() to remove a specific element. Remove 1 from set4

In [66]:
# Let's try to remove 1 again now that we know it is gone and see what will happen

In [67]:
# discard() works as remove(), let's see how it behaves when trying to remove an item not in it.
# Display set4

In [69]:
# clear() removes all the elements. Clear set4 and display it

### Now You Try 4

In [70]:
# Create a set of the sales order status named 'status': 'Pending Approval', 'Pending Fulfillment', 
# 'Pending Billing', 'Billed', 'Closed’. Display it

In [71]:
# Add a status: 'Partially Fulfilled’ to the set. Display the set

In [72]:
# Get the number of items in the set

In [73]:
# Use discard() to remove 'Billed'. Display status

### Union, intersection and difference - Set specific operations

In [58]:
# Declare 2 set variables
set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}

In [74]:
# union finds all elements in at least one set. Save the result to set_3 using union()
# save the result to set_4 using |. Display set_3 and set_4

In [75]:
# intersection finds all elements appear in all sets involved. Save the result to set_3 using intersection()
# save the result to set_4 using &. Display set_3 and set_4

In [76]:
# difference finds elements in the first set but not in the second. Order matters for this operation.
# Try to call difference() using different orders and use - with different orders.

In [60]:
# symmetric_difference() finds all elements that are not in common of the two sets.
# Try to call symmetric_difference(). Note order does not matter
# set_1.symmetric_difference(set_2)
set_2.symmetric_difference(set_1)

{1, 2, 5, 6}

In [61]:
# use ^ for symmetric difference
set_1^set_2

{1, 2, 5, 6}

In [78]:
# subset: a set is its own subset. Use <= to check set_1

In [77]:
# superset: a set is its own superset. Use >= to check set_1

In [63]:
# recreate 3 sets
set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}
set_3 = {5, 6}

In [79]:
# Check whether set_3 is the subset of set_2 using <=

In [80]:
# Check whether set_1 is the superset of set_3 using >=

### Now You Try 5

In [66]:
# recreate status as a set here
status = {'Pending Approval', 'Pending Fulfillment', 'Pending Billing', 'Billed', 'Closed'}
status

{'Billed',
 'Closed',
 'Pending Approval',
 'Pending Billing',
 'Pending Fulfillment'}

In [81]:
# Create another set named status2 with: 'Pending Billing', 'Billed' and 'Cancelled’
# display status2

In [82]:
# Get union of status and status2 and set it to variable new_status. Display it

In [83]:
# Get the intersection of the 2 sets. Display it

In [84]:
# Get the difference of the 2 sets status and status2 (both ways)

In [85]:
# Get the symmetric difference of the 2 sets

In [86]:
# Check if new_status is a superset of status

In [87]:
# Iterate through status and print out all the items