# Week 8 Code and Now You Try - Dictionaries and Sets

## Dictionaries

### Basics of a dictionary

In [2]:
# This cell is for wide display and better use of screen space
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

C:\Users\ezmos\AppData\Local\Temp\ipykernel_14460\2720815156.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [3]:
# Create a dictionary by directly adding values to it
phonebook = {'Chris': '555-1111',
             'Katie': '555-2222',
             'Jack': '555-3333'}
phonebook

{'Chris': '555-1111', 'Katie': '555-2222', 'Jack': '555-3333'}

In [4]:
# Creata a dictionary 'languages' with the following key value pairs:
# China: Chinese, US: English, France: French
# Disply the dictionary
languages = {"China": "Chinese", "US": "English", "France": "French"}

In [5]:
# Create an empty dictionary with a pair of {}. Display it.
empty_dict = {}
empty_dict

{}

In [6]:
# Lists can be values in a dictionary
dict1 = {'id1': [0, 1],
         'id2': [2, 3]}
dict1

{'id1': [0, 1], 'id2': [2, 3]}

In [7]:
# Keys cannot be mutable. For example, lists cannot be used as keys
# Execute the code and see what you get
dict2 = {[0, 1]: 'id1', [2, 3]: 'id2'}

TypeError: unhashable type: 'list'

In [8]:
# Can tuples be keys of a dictionary? It is not a good practice to do so though
dict2 = {(0, 1): 'id1', (2, 3): 'id2'}
dict2

{(0, 1): 'id1', (2, 3): 'id2'}

In [9]:
# Keys cannot be duplicate. Execute the code below, what do you get?
dict3 = {1: 'a', 1: 'b', 1: 'c'}
print(dict3)

{1: 'c'}

In [10]:
# Execute the following code. What conclusion do you draw?
dict4 = {1: 'a', 2: 'a', 3: 'a'}
print(dict4)

{1: 'a', 2: 'a', 3: 'a'}

In [11]:
# Both the keys and values can have different data types
# It is not a good practice to use keys of different types though
# Execute the code below and see what you get.
dict5 = {"A": [1, 2, 3], 2: "A string", 5.5: (True, False)}
dict5

{'A': [1, 2, 3], 2: 'A string', 5.5: (True, False)}

In [12]:
# Get the number of elements in phonebook using len()
len(phonebook)

3

In [13]:
# Create an empty dictionary using dict() and get its length
len(dict())

0

In [14]:
# Duplicate a dictionary using copy(). Create a variable 'language2' by copying language
# Display language2
language2 = languages.copy()
language2

{'China': 'Chinese', 'US': 'English', 'France': 'French'}

### Retrieving values from a dictionary

In [15]:
# Display phonebook dictionary created above
phonebook

{'Chris': '555-1111', 'Katie': '555-2222', 'Jack': '555-3333'}

In [16]:
# Get the phone number of Chris using the index operator []
phonebook['Chris']

'555-1111'

In [17]:
# Lily's number is not stored in the phonebook, let's try to retrieve her number and see what happens
phonebook['Lily']

KeyError: 'Lily'

In [18]:
# Write a if statement to check whether Lily is in the phonebook before trying to retrieve her number
# Use in and print a proper message if Lily is not in the phonebook. Otherwise, print her number
print(phonebook['Lily']
      if 'Lily' in phonebook else 'Lily is not in the phonebook')

Lily is not in the phonebook

In [19]:
# Store keys in a list and iterate through the keys to retrieve values
phonebook = {'Chris': '555-1111',
             'Katie': '555-2222',
             'Jack': '555-3333'}
name_list = ['Chris', 'Katie', 'Lily']
for name in name_list:
    if name in phonebook:
        print(name, phonebook[name])
    else:
        print(name, 'is not in the phonebook!')

Chris 555-1111
Katie 555-2222
Lily is not in the phonebook!

In [20]:
# Use get(key, default) to retrieve values of keys. It prevents key errors by setting a default value
# Use get() to retrieve Chris's number. Use "The key is not found" as the default value
phonebook.get('Chris', 'The key is not found')

'555-1111'

In [21]:
# Use get() to find Lily's number. Use "The key is not found" as the default value
phonebook.get('Lily', 'The key is not found')

'The key is not found'

### Update, add or remove values

In [22]:
# Display the content of the phonebook again
phonebook

{'Chris': '555-1111', 'Katie': '555-2222', 'Jack': '555-3333'}

In [23]:
# Add Bill with number "555-4444" to the phonebook and display the phonebook. Did you see Bill added?
phonebook["Bill"] = "555-4444"
phonebook

{'Chris': '555-1111',
 'Katie': '555-2222',
 'Jack': '555-3333',
 'Bill': '555-4444'}

In [24]:
# Jack's number is in the phonebook but let's update it to 555-0000. Display the phonebook
phonebook['Jack'] = "555-0000"
phonebook

{'Chris': '555-1111',
 'Katie': '555-2222',
 'Jack': '555-0000',
 'Bill': '555-4444'}

In [25]:
# Just like list, assign phonebook to another variable does not create a new dictionary.
# Assign phonebook to a new variable named phone_bk. Display phone_bk
phone_bk = phonebook
phone_bk

{'Chris': '555-1111',
 'Katie': '555-2222',
 'Jack': '555-0000',
 'Bill': '555-4444'}

In [26]:
# Change Chris's number in phone_bk to 22222. Dsiplay both phonebook and phone_bk
phone_bk['Chris'] = '22222'
print(phone_bk)
print(phonebook)

{'Chris': '22222', 'Katie': '555-2222', 'Jack': '555-0000', 'Bill': '555-4444'}
{'Chris': '22222', 'Katie': '555-2222', 'Jack': '555-0000', 'Bill': '555-4444'}

In [27]:
# Delete Chris's number using del and display phonebook
del phonebook['Chris']
phonebook

{'Katie': '555-2222', 'Jack': '555-0000', 'Bill': '555-4444'}

In [28]:
# Try to use del to delete Lily's number and see what happens
del phonebook['Lily']

KeyError: 'Lily'

In [29]:
# Use if statement and in to try the deletion of Lily's number
if 'Lily' in phonebook:
    del phonebook['Lily']

In [30]:
# Use pop() to remove Bill from the phonebook. Save the returned value in variable bill_phone. Display
# both bill_phone and the phonebook. What conclusion can you draw?

bill_phone = phonebook.pop('Bill')
print(bill_phone)
print(phonebook)

555-4444
{'Katie': '555-2222', 'Jack': '555-0000'}

In [31]:
# Let's try to pop Lily and see what happens.
phonebook.pop('Lilly')

KeyError: 'Lilly'

In [32]:
# Add a new item: Helen with phone number 123-4567 in phonebook. Display phonebook
phonebook['Helen'] = '123-4566'
phonebook

{'Katie': '555-2222', 'Jack': '555-0000', 'Helen': '123-4566'}

In [33]:
# See whether using pop() without any argument can return Helen's number. What do you get?
phonebook.pop()

TypeError: pop expected at least 1 argument, got 0

In [34]:
# Use popitem() to remove the last item inserted. Save the result to variable last_item and display
# both last_item and phonebook
last_item = phonebook.popitem()
last_item

('Helen', '123-4566')

In [35]:
# We have created an empty dictionary empty_dict before. Let's see what happens if popitem() is used on it.
empty_dict.popitem()

KeyError: 'popitem(): dictionary is empty'

In [36]:
# Use clear() to remove all items in phonebook and display phonebook
phonebook.clear()
phonebook

{}

In [37]:
# Can clear() be used on empty_dict? Will we get an error?
empty_dict.clear()

### Now you try 1

In [38]:
# create a dictionary named 'plato' with the following values. Copy and paste will speed things up:
# name: Plato, country: Ancient Greece, YOB: -427,
# teacher: Socrates, student: 'Aristotle'
# print the dictionary plato to make sure it is created properly.
plato = {'name': 'Plato', 'country': 'Ancient Greece', 'YOB': -427,
         'teacher': 'Socrates', "student": 'Aristotle'}
plato

{'name': 'Plato',
 'country': 'Ancient Greece',
 'YOB': -427,
 'teacher': 'Socrates',
 'student': 'Aristotle'}

In [39]:
# Find how many items are there in the dictionary
len(plato)

5

In [40]:
# Who is Platos teacher? Use the [] to find out
plato['teacher']

'Socrates'

In [41]:
# Use get() to find his teacher. Set the default value to an appropriate message
plato.get('teacher')

'Socrates'

In [43]:
# Check whether the dictionary has the information about Plato’s spouse,
# if so, print it. If not, print out a proper message. Use get() or in
plato.get('spouse', 'spouse information not found')

'spouse information not found'

In [48]:
# Change Plato’s birth year to B.C. 428 and print out the dict to confirm
plato['YOB'] = 428
plato['YOB']

428

In [50]:
# Add Plato’s work to the dictionary. Use “work” as key and the following
# values as the value of work: Apology, Phaedo, Republic, Symposium
# Include all the work into a list before adding it to the dictionary
# Display the dictionary
plato['work'] = ['Apology', 'Phaedo', 'Republic', 'Symposium']
plato

{'name': 'Plato',
 'country': 'Ancient Greece',
 'YOB': 428,
 'teacher': 'Socrates',
 'student': 'Aristotle',
 'work': ['Apology', 'Phaedo', 'Republic', 'Symposium']}

### Iterate Through a Dictionary with for loop

In [51]:
# recreate phonebook to ensure the values are expected
phonebook = {'Chris': '555-1111',
             'Katie': '555-2222',
             'Jack': '555-3333'}

In [52]:
# Iterate through the phonebook using for loop. By default, the target variable will be the key
for key in phonebook:
    print(key)
    print(key, ":", phonebook[key])

Chris
Chris : 555-1111
Katie
Katie : 555-2222
Jack
Jack : 555-3333

In [53]:
# keys() will return keys of the dictionary
phonebook.keys()

dict_keys(['Chris', 'Katie', 'Jack'])

In [54]:
# Use for loop again to iterate through the keys using keys() explicitly
for key in phonebook.keys():
    print(key)

Chris
Katie
Jack

In [55]:
# values() will return values of the dictionary. What does the return value look like?
for value in phonebook.values():
    print(value)

555-1111
555-2222
555-3333

In [58]:
# Use for loop to iterate through all the values
for k, v in phonebook.items():
    print(f'Key {k}, Value {v}')

Key Chris, Value 555-1111
Key Katie, Value 555-2222
Key Jack, Value 555-3333

In [65]:
# items() return both keys and values. Study the returned value. What is the data type?

# It's a dict_items object
print(type(phonebook.items()))
for item in phonebook.items():
    # tuple
    print(type(item))

<class 'dict_items'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [66]:
# Use for loop to iterate through and print each item
for item in phonebook.items():
    print(item)

('Chris', '555-1111')
('Katie', '555-2222')
('Jack', '555-3333')

In [67]:
# Use 2 target variables in the for loop to unpack the values in each item
# Print out the result

# copy pasting
for k, v in phonebook.items():
    print(f'Key {k}, Value {v}')

Key Chris, Value 555-1111
Key Katie, Value 555-2222
Key Jack, Value 555-3333

### Now You Try 2

In [68]:
# Iterate through the dictionary 'plato' using keys() and print out all the
# elements in the format: key is value. For example: name is Plato, etc.
for key in plato.keys():
    print(f"{key} is {plato[key]}")

name is Plato
country is Ancient Greece
YOB is 428
teacher is Socrates
student is Aristotle
work is ['Apology', 'Phaedo', 'Republic', 'Symposium']

In [69]:
# Iterate through the dictionary using items() and print out all the
# elements in the format: key - value. For example: name - Plato, etc.
# You can use either 2 target variables or 1 target variable but access key and value in it

for key, value in plato.items():
    print(f'{key} - {value}')

name - Plato
country - Ancient Greece
YOB - 428
teacher - Socrates
student - Aristotle
work - ['Apology', 'Phaedo', 'Republic', 'Symposium']

### Nested Dictionary

In [70]:
# Create a nested dictionary where the values are dictionaries
students = {'Amy': {'major': 'Finance', 'age': 19},
            'John': {'major': 'Accounting', 'age': 22},
            'Sarah': {'major': 'Marketing', 'age': 20}}
students

{'Amy': {'major': 'Finance', 'age': 19},
 'John': {'major': 'Accounting', 'age': 22},
 'Sarah': {'major': 'Marketing', 'age': 20}}

In [71]:
# Retrieve values associated with student Amy

for value in students['Amy'].values():
    print(value)

Finance
19

In [72]:
# Retrieve Amy's major
students['Amy']['major']

'Finance'

In [75]:
# Change John's age to 80 and print out the dictionary
students['John']['age'] = 80
students['John']

{'major': 'Accounting', 'age': 80}

In [78]:
# Iterate through the dictionary using nested for loops
for student in students:
    print(student)
    for item in students[student].items():
        print(item)

Amy
('major', 'Finance')
('age', 19)
John
('major', 'Accounting')
('age', 80)
Sarah
('major', 'Marketing')
('age', 20)

### Now You Try 3

In [80]:
# For the dictionary 'students' above, add gender to each student. Do this one student at a time
# Amy and Sarah: Female, John: male. dictionary students after the change
students['Amy']['gender'] = 'Female'
students['Sarah']['gender'] = 'Female'
students['John']['gender'] = 'Male'

students

{'Amy': {'major': 'Finance', 'age': 19, 'gender': 'Female'},
 'John': {'major': 'Accounting', 'age': 80, 'gender': 'Male'},
 'Sarah': {'major': 'Marketing', 'age': 20, 'gender': 'Female'}}

In [83]:
# Use keys() to print out all the keys in 'students'
for student in students.keys():
    print(student)

Amy
John
Sarah

In [84]:
# Use values() to print out all the values in 'students'
for value in students.values():
    print(value)

{'major': 'Finance', 'age': 19, 'gender': 'Female'}
{'major': 'Accounting', 'age': 80, 'gender': 'Male'}
{'major': 'Marketing', 'age': 20, 'gender': 'Female'}

In [87]:
# iterate through 'students' to print out all the ages as in the format of Amy 19, etc. Each student in their own line
for student, values in students.items():
    print(f"{student} {values['age']}")

Amy 19
John 80
Sarah 20

In [90]:
# Counting words. Count the number of times each word appears and save in a dictionary counts
text = '''
Writing programs (or programming) is a very creative and rewarding activity.  You can write programs 
for many reasons ranging from making your living to solving a difficult data analysis problem to having 
fun to helping someone else solve a problem.  This book assumes that everyone needs to know how to 
program and that once you know how to program, you will figure out what you want to do with your newfound skills.
'''
text

wordcount = {}
for word in text.split():
    if word in wordcount:
        wordcount[word] += 1
    else:
        wordcount[word] = 1

for word, count in wordcount.items():
    print(f"{word}: {count}")

Writing: 1
programs: 2
(or: 1
programming): 1
is: 1
a: 3
very: 1
creative: 1
and: 2
rewarding: 1
activity.: 1
You: 1
can: 1
write: 1
for: 1
many: 1
reasons: 1
ranging: 1
from: 1
making: 1
your: 2
living: 1
to: 7
solving: 1
difficult: 1
data: 1
analysis: 1
problem: 1
having: 1
fun: 1
helping: 1
someone: 1
else: 1
solve: 1
problem.: 1
This: 1
book: 1
assumes: 1
that: 2
everyone: 1
needs: 1
know: 2
how: 2
program: 1
once: 1
you: 3
program,: 1
will: 1
figure: 1
out: 1
what: 1
want: 1
do: 1
with: 1
newfound: 1
skills.: 1

In [52]:
# Step 1: remove "(" and ")" from the text since they are not words
# save the result in 'clean_text'. You can use replace()

# Step 2: split clean_text into a list of words assigned to word_list


# Step 3: create an empty dictionary 'word_count_dict'.

# Step 4: Use for loop to iterate through word_list

# Inside the loop, check whether the word exist in the dictionary.
# If so, add 1 to its existing value.
# If not, add a new item: the word is the key and the value is 1


# Print word_count_dict outside of the loop

In [53]:
# What is the max number of times a word appeared? Use max(). Save result to variable max_word

In [54]:
# What is the word that appears the most number of times? Use a for loop to retrieve the word
# max(word_count_dict, key=word_count_dict.get)

## Sets

### Set basics

In [10]:
# This cannot create an empty set
set1 = {}
type(set1)

dict

In [11]:
# This create an empty set
set1 = set()
set1

set()

In [12]:
# To create a set, you must pass an iterable as an argument. Create a set based on a list
# Note that duplicates are removed
list1 = [1, 1, 2, 3]
set1 = set(list1)
set1

{1, 2, 3}

In [13]:
# A set can be created by directly pass in values in {}
set2 = {1, 2, 3, 4, 4}
set2

{1, 2, 3, 4}

In [55]:
# Note the behevior when a string is passed in to set()
set2 = set("Happy new year!")
set2

In [56]:
# in can be used to check the membership of a set. Check if "Happy" is in set2

In [16]:
# To create a set with actual strings, pass them in as a list. Note that the order is not preserved
set3 = set(['Happy', 'new', 'year', '!'])
set3

{'!', 'Happy', 'new', 'year'}

In [44]:
# The set can be created using {} directly also
{'Happy', 'new', 'year', '!'}

{'!', 'Happy', 'new', 'year'}

In [58]:
# A set cannot contain mutable elements. Try to create a set out of sets created above
set4 = {set1, set2, set3}
# set4 = set([set1, set2, set3])

In [59]:
# Use len() to get number of element in set1

In [60]:
# Use len() to get number of element in set2

In [61]:
# Use for loop to iterate through set3

In [ ]:
# use in to check whether an element is in a set.

In [62]:
# Add a single element to a set using add(). Let's add 1 to set2 and show set2

In [63]:
# Add multiple elements to a set using update(). Add 'Health', 'Peace', "Happy"
# to set3 and display the result

In [ ]:
# Create 2 more sets.
set4 = {"a", "b", "c"}
set5 = {1, 2, 3}

In [45]:
# Add value 4 to set5 and display set5
set5.add(4)
set5

{1, 2, 3, 4}

In [64]:
# Use update() to add the content of set5 to set4, display set4

In [65]:
# Use remove() to remove a specific element. Remove 1 from set4

In [66]:
# Let's try to remove 1 again now that we know it is gone and see what will happen

In [67]:
# discard() works as remove(), let's see how it behaves when trying to remove an item not in it.
# Display set4

In [69]:
# clear() removes all the elements. Clear set4 and display it

### Now You Try 4

In [70]:
# Create a set of the sales order status named 'status': 'Pending Approval', 'Pending Fulfillment',
# 'Pending Billing', 'Billed', 'Closed’. Display it

In [71]:
# Add a status: 'Partially Fulfilled’ to the set. Display the set

In [72]:
# Get the number of items in the set

In [73]:
# Use discard() to remove 'Billed'. Display status

### Union, intersection and difference - Set specific operations

In [58]:
# Declare 2 set variables
set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}

In [74]:
# union finds all elements in at least one set. Save the result to set_3 using union()
# save the result to set_4 using |. Display set_3 and set_4

In [75]:
# intersection finds all elements appear in all sets involved. Save the result to set_3 using intersection()
# save the result to set_4 using &. Display set_3 and set_4

In [76]:
# difference finds elements in the first set but not in the second. Order matters for this operation.
# Try to call difference() using different orders and use - with different orders.

In [60]:
# symmetric_difference() finds all elements that are not in common of the two sets.
# Try to call symmetric_difference(). Note order does not matter
# set_1.symmetric_difference(set_2)
set_2.symmetric_difference(set_1)

{1, 2, 5, 6}

In [61]:
# use ^ for symmetric difference
set_1 ^ set_2

{1, 2, 5, 6}

In [78]:
# subset: a set is its own subset. Use <= to check set_1

In [77]:
# superset: a set is its own superset. Use >= to check set_1

In [63]:
# recreate 3 sets
set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}
set_3 = {5, 6}

In [79]:
# Check whether set_3 is the subset of set_2 using <=

In [80]:
# Check whether set_1 is the superset of set_3 using >=

### Now You Try 5

In [66]:
# recreate status as a set here
status = {'Pending Approval', 'Pending Fulfillment',
          'Pending Billing', 'Billed', 'Closed'}
status

{'Billed',
 'Closed',
 'Pending Approval',
 'Pending Billing',
 'Pending Fulfillment'}

In [81]:
# Create another set named status2 with: 'Pending Billing', 'Billed' and 'Cancelled’
# display status2

In [82]:
# Get union of status and status2 and set it to variable new_status. Display it

In [83]:
# Get the intersection of the 2 sets. Display it

In [84]:
# Get the difference of the 2 sets status and status2 (both ways)

In [85]:
# Get the symmetric difference of the 2 sets

In [86]:
# Check if new_status is a superset of status

In [87]:
# Iterate through status and print out all the items