# Pandas - Intro

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import numpy as np
import pandas as pd
# set pandas to display all the columns
pd.set_option("display.max.columns", None)
# make sure the decimal places are only 2
pd.set_option("display.precision", 2)

## Pandas Series
### Create a series

In [1]:
# Create a series from a list [9, 3, 45, 2] using pd.Series(). Save it in s1 and display s1

In [2]:
# Create a series from a list [3.4, -5, 7.12, 4] and specify the index as ['a', 'b', 'c', 'd']
# Save it in s2 and display it. Note how the display is different

In [3]:
# Create a series with a dictionary created below. Save it in s3 and display it
data = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

### Series Attributes

In [4]:
#index is an important attribute of a series. Get it with .index
# Get index of s1. Guess what type it is?

In [5]:
# Get index for s2. Note how it is different from that of s1.

In [6]:
# Get index for s3. Do you have some idea of index now?

In [7]:
# values is an important attribute of a series, get it with .values
# Get the values of s1. What data type is it?

In [8]:
# Get the values of s2

In [9]:
# Get the values of s3

### Access and update elements in series 
indexing, slicing and boolean indexing are all available

In [10]:
# Use indexing to get the element with index 2 in s1

In [11]:
# Use slicing to get the first 2 elements in s1. What is the type of the result?

In [12]:
# Use indexing to get the element with index 0 in s2

In [13]:
# Get the value of index 'Texas' in s3

In [14]:
# To get more than one values using indexing, place the index values in a list and pass the list to  []
# Try to get the values for index 'Utah' and 'Ohio' in s3

In [15]:
# Use slicing to get elements from index 'Ohio' to 'Oregon' in s3. What is the type of the result?
# How is slicing using index different than slicing a python list?

In [16]:
# Slice using implicit positional integer. Silce from 0 to 2 in s3 and see what you get

In [17]:
# Boolean indexing is helpful to query data. Use it to get all values greater than 0 in s2

In [18]:
# Use boolean indexing to get all values greater than 10000 and smaller than 40000 in s3

In [19]:
# Boolean indexing can be used to change values in a series. Set all values in s3 that 
# is greater than 10000 and smaller than 40000 to be 10. Display s3

In [20]:
# Slicing can be used to change values in a series as well. Set all values from 'Ohio' to 'Texas'
# to be 'Unknown' and display s3

### Now You Try 1

In [21]:
# Create a Pandas series named 's_range' by passing range() result as data. 
# range() should start at 10, end at 20 with step 2. Display it

In [22]:
# Get the 3rd to 5th values of 's_range'

In [23]:
# Create a series 's_array' by passing an array generated randomly with values
# between 0 and 1. Use strings 'a', 'b', 'c', 'd' and 'e' as index. Display it

In [24]:
# Get values in s_array with index 'a' and 'd' in one line of code

In [25]:
# Get values by slicing from 'b' to 'd'. Display the result

In [26]:
# Create a dictionary 'books' with the following values: 
# 'Christine':34, 'Emily':15, 'Andrew':20, 'Ella':13. Display it
books = {'Christine':34, 'Emily':15, 'Andrew':20, 'Ella':13}
books

{'Christine': 34, 'Emily': 15, 'Andrew': 20, 'Ella': 13}

In [27]:
# Create series with 'books'. name it 's_dict' and display it.

In [28]:
# Who have read more than 30 books? Use Boolean indexing to get the answer

## Pandas DataFrame

In [29]:
# Missing value in pandas is represented with np.nan
np.nan

NameError: name 'np' is not defined

In [ ]:
# np.nan is a float if you check its data type. Even if there are missing values, you can still do calculation

In [ ]:
# Use pd.isnull() or pd.isna() to check whether a value is np.nan
pd.isnull(np.nan)

## Load Data into a DataFrame

In [ ]:
# Use pd.read_csv() to read data in from a .csv file. Save the data file in the same folder 
# of the notebook to use the file name only as the argument

# display the dataframe using display(). don't use print()

In [ ]:
# get the type of the dataframe

## Important DataFrame Attributes and Methods
- head(): the method displays the top 5 rows of the dataframe
- head(n): the method displays the top n rows of the dataframe
- tail(): the method displays the bottom 5 rows of the dataframe
- tail(n): the method displays the bottom n rows of the dataframe
- sample(n): the method displays the random n rows of the dataframe
- shape: the attribute returning in a tuple number of rows and columns in the dataframe: (#rows, #columns)
- columns: the attribute returning the column index of the dataframe
- index: the attribute returning the row index of the dataframe
- info(): the method returns comprehensive info about a dataframe

In [ ]:
# display the top five rows of data. Use display() function for a dataframe to get better formatted table

In [ ]:
# Also display the top 10 rows of the dataframe

In [ ]:
# Display to bottom 10 rows

In [ ]:
# Display a random sample of 10 rows in the table

In [ ]:
# Use shape atrribute to get the number of rows and columns of the dataframe

In [ ]:
# get the columns attribute of the dataframe

In [ ]:
# Get the index number. This works like in list

In [ ]:
# Get the last row of the data

In [ ]:
# Use info() method for a lot of information of the dataset: data types and number of existing values
# data types, etc. object type usually means text values

## Columns (Series) 
### Get columns from a dataframe: if [ ] is used, one series is returned. if [[ ]] is used, a smaller dataframe is returned

In [ ]:
# Get a single column as a series by placing the column name in []
# Get 'Siblings/Spouses Aboard' as a series

In [ ]:
# Get multiple columns from a dataframe by passing column names as a list to []
# Get 'Survived' and 'Pclass'

### Get statistics of a column
- count(), max(), min(), mean(), std(), median(), skew(), quantile(), nlargest(n), etc.
- describe(): get the most popular statistics of a column

In [ ]:
# Practice get the statistics of Age column

In [ ]:
# Get the statistics of column Age using describe() method 
# What statistics are provided?

In [ ]:
# Get the statistics of column Sex using describe() method. 
# What statistics are returned?

### Get overall statistics of the dataframe with describe()
- Use describe() only will get all statistics of numeric columns
- Use describe(include='O') will get statistics of all non-numerical columns

In [ ]:
# Get statistics of numeric columns

In [ ]:
# Get statistics of non-numerical columns

### Use unique() and value_counts()
- unique() can be used on only one column (series)
- value_counts() can be used on a series or a dataframe. The returned value is a combination of unique values and their frequencies
    - value_counts(normalized=True) returns the % of each unique value

In [ ]:
# Get the unique values in column Sex

In [ ]:
# use value_counts() to get the number of rows with different values in Survived

In [ ]:
# Add normalized = True as the keyword argument to get the % of survived vs. not survived

In [ ]:
# Get the number of rows for each unique value in 'Siblings/Spouses Aboard'

In [ ]:
# Use value_counts() to get the unique combination of Sex and Survived and the frequencies

### Add or Remove a Column
- To add a column, put the column name in [] following the dataframe name and assign a value to it
- To drop a row or a column, use drop() method. By default, a row will be dropped
    - To drop a column, add the argument axis=1
    - To drop one row or one column, place the index in []
    - To drop more than one row or column, place the list of indexes in []
    - By default, the drop change is not done on the dataframe itself. To make the drop permanent, add the argument inplace=True

In [ ]:
# Add a column 'Country' and assign the value 'UK' to it. Display the top 5 rows to confirm the addition of the column

In [ ]:
# Add another column 'Temp' and assign the age of each passenger plus 10 to it
# Display the top 5 rows to confirm the addition of the column

In [ ]:
# Use drop() method to drop the Temp column and display the top five rows using head(). The methods can be linked

In [ ]:
# Drop both 'Temp' and 'Country' and make the drop permanent. Display the top five rows to confirm the drop

## Sort Dataframe
- By index using sort_index(). By default, the sort is done on row indexes. 
- By values using sort_values(). By default, the sort is done on values in a column. 
    - Use By = column_name to set the column or columns to be sorted by
- To have the sort done on column index or values in a row, set axis = 1
- Use the argument ascending=False to have the values in descending order
- Set inplace=True to preserve the order of the sort result

In [ ]:
# Sort the dataframe by index in descending order. Display the top 5 rows

In [ ]:
# Sort the dataframe by values of column headers. Display the top 5 rows

In [ ]:
# Sort the dataframe by values in Survived. Display the top 5 rows

In [ ]:
# Sort the dataframe by values in Survived and age. Display the top 5 rows

### Now Your Try 2

In [ ]:
# Get all the information of the titanic dataframe.

In [ ]:
# Get the bottom 7 rows of the dataframe. Use display() to show the result

In [ ]:
# Get the column 'Name'

In [ ]:
# Get columns 'Age' and 'Fare'

In [ ]:
# Get all statistics of the column Fare using describe()

In [ ]:
# What is the number of passengers in each cabin class?

In [ ]:
# Add a column named Year with value 1912. Display the top 5 rows to confirm the addition

In [ ]:
# Remove the column Year using the method drop() with proper axis and inplace keyword
# argument. Display the top 5 rows to confirm it is dropped

In [ ]:
# Sort dataframe by Fare in descending order. Display the top 5 rows.

## Turn a Column into an Index
- Use set_index(column_name) to turn a column into an index

In [ ]:
# Currently, the row index is a RangeIndex. Create a new dataframe using 'Name' column
# as the (row) index using set_index(). Name the new dataframe 'titanic_df2' and display the top 5 rows
# Note the Name is now the row index

In [ ]:
# Display index of titanic_df2

## Access rows or subsets of a dataframe
To get a row or a set of rows, use the following two ways:
1. Use loc[], it takes index as its arguments
1. Use iloc[], it takes positional numbers (integers starting with 0) as its arguments
1. Both indexing and slicing can be used inside loc[] and iloc[]

### Access rows using iloc and loc operator

In [ ]:
# Use loc[] to Get the first passenger 'Mr. Owen Harris Braund'. Note his name is the index
# What is the data type of the result? How to get only the age of the passenger?

In [ ]:
# Use iloc[] to get the info of the same passenger

In [ ]:
# Use slicing in loc[] to get passengers from 'Mr. Owen Harris Braund' to 'Mr. William Henry Allen'
# What is the data type of the result?

In [ ]:
# Use slicing in iloc[] to the get the top 5 passengers. The result should be the same as above

### Access a subset of rows and columns
To get a set of selected rows and columns, again use loc[] and iloc[]:
1. In loc[] and iloc[], the row index and column index are seperated by comma
1. Both indexing and slicing can be used inside loc[] and iloc[]

In [ ]:
# Use loc[] to get Fare paid by 'Mr. Owen Harris Braund'

In [ ]:
# Get the same info using iloc[]

In [ ]:
# Use loc[] to get fares paid by the top 5 passengers from 'Mr. Owen Harris Braund' to 'Mr. William Henry Allen'

In [ ]:
# Use loc[] to get columns from Sex to Fare of the top 5 passengers from 'Mr. Owen Harris Braund' to 'Mr. William Henry Allen'

In [ ]:
# Get the same information with iloc[]

In [ ]:
# Get arbitrary rows and columns using loc[]. Get 'Sex' and 'Fare' of 'Mr. Owen Harris Braund' and'Mr. William Henry Allen'

In [ ]:
# access arbitrary rows and columns like above using iloc[]

### Now Your Try 4

In [ ]:
# Get the 3rd row of titanic_df2 using both loc[] and iloc[]. To see what you have in titanic_df2,
# Add a cell to display the top five rows of it before you start working on it.

In [ ]:
# Get row 10 to 15 but only columns Survived and Pclass. Use iloc[] is easier. 
# 1. Use iloc to slice positional integer for both rows and columns
# 2. Use iloc to select the rows, then select the columns name with [] based on the result

## Query or Filter the DataFrame
Similary to ndarray Boolean Indexing

In [ ]:
# Get all female passengers. The column to use is Sex and display the result

In [ ]:
# Get all female passengers older than 40. Use 2 conditions

In [ ]:
#Get all passengers older than 70 or younger than 10 not survived. Use both and, or. Don't forget ()

### Retrieve largest or smallest values - idxmax() and idxmin()
- The index of the largest value in a column is returned from idxmax()
- The index of the smallest value in a column is returned from idxmin()
- If idxmax() or idxmin() are used on a dataframe, the indexes of the largest and smallest values are all returned
- The index can then be used in loc[] to get row back

In [ ]:
# Use idxmax() to get the oldest passenger? and the one who paid the highest fare
# titanic_df2['Age'].idxmax()

In [ ]:
# Use idxmax() to get the indexes if the oldest passenger and the one who paid the highest fare
# in one line of code

In [ ]:
# Place the index in loc[] to get all the information about the oldest passenger

In [ ]:
# Place the indexes in loc[] to get all the information about the oldest passenger
# and the one who paid the highest fair

In [ ]:
# Use idxmin() to get all the information about the youngest passenger

### Now You Try 5

In [ ]:
# Use titanic_df2, get all male passengers in the 2nd class and survived. Display the result

In [ ]:
# Use titanic_df2, get all passengers old than 70 or younger than 10 not 
# survived? Save the result to 'temp_df'. Display the result.

In [ ]:
# from temp_df, get all information of the passenger who paid the most expensive fare