# Week 7 Code and Now You Try - Lists and Tuples
## Create List, retrieve Items and loop through a list

In [ ]:
# This cell is for wide display and better use of screen space
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
# Create an empty list and assign it to variable list0. Display it.

In [3]:
# Create a list with values 1, 2, 3 and assign it to variable list1. Display it.

In [4]:
# Create a list with string values 'a', 'b', 'c' and assign it to variable list2. Display it.

In [5]:
# Create a list with values of different data types and assign it to variable list3. Display it.

In [6]:
# Use list() to convert a sequence of values to a list. Use range() to create an integer list of values 1, 2, 3, 4, 5

In [7]:
# Use list() and range() to create a list of integers [50, 45, 40, 35, 30, 25, 20, 15]

In [5]:
# Create a list with variables
a, b, c = 1, 2, 3
list_abc = [a, b, c]
list_abc

[1, 2, 3]

In [ ]:
# Retrieve single element with list indexing
num_list = [2, 4, 6, 8, 10]

In [8]:
# Get the elements in index 0, 1, 4, -1 and -5 respectively. You can use print() and display
# all the values in the same cell or use 5 cels to get the result

In [9]:
# Get the value of index 5 from num_list. What do you get and why?

In [ ]:
# use len() function to get the length of num_list

In [10]:
# Now use len() to get the largest index value and retrieve the element

In [ ]:
# Practice list slicing. Type out the code on the slide. The first 2 are typed out already.
# Run each line and see what the result is.
print(num_list[0:3])
print(num_list[:3])

In [11]:
# use for loop to iterate through a list [0, 1, 2, 3, 4] and print out the square of each value

### Now You Try 1

In [12]:
# Create a list with the following values: 'IUB', 'IUPUI', 'IUS', 'IUK', 'IUE', 'IUSE','IUSB', 'IUN'. 
# Save them in a list named 'campus'

In [13]:
# Use indexing to get IUE

In [ ]:
# Use indexing and len() to get IUN

In [14]:
# Use slicing to get every other campus so the result is ['IUB', 'IUS', 'IUE', 'IUSB']

In [15]:
# Use slicing to get IUS, IUK and IUE so the result is ['IUS', 'IUK', 'IUE']

In [16]:
# Use slicing to reverse the order of the elements so the result is:
# ['IUN', 'IUSB', 'IUSE', 'IUE', 'IUK', 'IUS', 'IUPUI', 'IUB']

In [17]:
# Use for loop to iterate through the list to print out "Indiana University -" campus name
# for example: "Indiana University - IUB", as the first printed line

In [18]:
# Create list of positive odd numbers less than 26 with range() and list()
# The result should be: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

## Insert, change and remove list items (Lists are mutable)

In [20]:
# Redeclare the list. Change its first item to be 1 and last item to be 9
# Display the list to conform
num_list = [2, 4, 6, 8, 10]

In [19]:
# Use slicing to replace a segment of values into one element
num_list[1:3] = [100]
num_list

In [10]:
# Use slicing to update multiple values
num_list = [2, 4, 6, 8, 10] # reset the list
num_list[1:3] = [100, 200]
num_list

[2, 100, 200, 8, 10]

In [11]:
# Use slicing to update multiple values and expand the list
num_list = [2, 4, 6, 8, 10] # reset the list
num_list[1:3] = [100, 200, 300, 400]
num_list

[2, 100, 200, 300, 400, 8, 10]

In [12]:
# Add an element number 11 to the end of the list using append(). Don't care the index of the new value
num_list.append(11)
num_list

[2, 100, 200, 300, 400, 8, 10, 11]

In [21]:
# Insert an element value -1 to a specific index value 3 using insert(index, new_element)

In [22]:
# When the index is out of range, Python does not throw error the item is inserted to either end of the list
# Insert value 1000 to index value of 100, show the content of the list

In [23]:
# Insert value -1000 to index value of -30, show the content of the list

Question: how are the 2 ways of adding elements to a Python list differ?
- Note the arguments need to be passed in
- Note the return value

In [24]:
# Use remove() to remove the first occurance of an item. The item is the argument
# Remove the element of -1 from num_list. Assign the returned value to return_remove
# Print return_remove and display num_list

In [25]:
# Now that -1 is removed, try to remove it again and see what happens

In [26]:
# To remove an element at a particular index, regardless of its value, use pop()
# Let's remove an element at index -1, save the return value to variable last_ele
# Print out last_ele and the list

In [27]:
# Use pop() without any argument to remove the value at the end of a list
# Print out the popped element and the list

In [28]:
# Try to pop the element with index 100 in num_list. What happens?

In [29]:
# Use del[] to remove an item at a specific index. Do so with the index 0

In [30]:
# Note what happens when using del with an nonexisting index. Try 55 as the index

Question: how are the 3 ways of removing elements from a Python list differ?
- Note the arguments need to be passed in
- Note the return value

### Form new lists with concatenation and repetition

In [31]:
# Declare 2 lists
num_list_1 = [1, 3, 5, 7, 9]
num_list_2 = [2, 4, 6, 8, 10]
# concatenation the 2 lists using operator: +. Save the result to variable num_list

# Display num_list

In [32]:
# Augement operators work as well. Use += to add the elements of num_list_2 to num_list_1
# Display num_list_1

In [25]:
# Use repetition operator: * to quickly create a list that contains 10 0s
ten_zeros = [0] * 10
print(ten_zeros)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [26]:
# Create a list that contains 15 'A's using *
fifteen_As = ['A'] * 15
print(fifteen_As)

['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A']

In [33]:
# The concatenation and repetition operators work for strings as well
# Concatenate the following 2 strings with a space in between and print out the result
string1 = 'Singing a song:'
string2 = 'Happy birthday!'

In [34]:
# Create a string that repeat blah_str 10 times. Add a space in between the repetition
blah_str = 'Blah'

### Other list operations

In [30]:
# Use in and not in to check whether an item is in a list
# The result will be True or False
num_list = [2, 4, 6, 8, 10]
if 2 in num_list:
    print('Yes')
elif 2 not in num_list:
    print('No')

Yes

In [31]:
# Check if variable a is in the list
a = 1
print(a in num_list)

False

In [35]:
# Use index() to get the index of an element. Note the argument is the element to be checked.
# The index of he first matching item will be returned
# If the item does not exists, an error will be raised
# Get the index of element 8:

In [36]:
# Get the index of element 100

In [37]:
# Append -5 to the end of num_list. Display the elements in the list

In [38]:
# sort() sort the items in num_list in ascending order and display the elements in the list

In [39]:
# reverse() reverse the order of the items in num_list. Display the elements in the list

Question: What value does sort() and reverse() of list return respectively?

In [40]:
# Get the min and max values num_list and print the result

Question: What value does min() and max() of list return respectively?

In [55]:
# Use clear to remove all elements in a list. Do so for num_list and display it.
num_list.clear()
num_list

[]

In [41]:
# Declare list1
list1 = [0, 1, 2, 3, 4]
# assign list1 to list2. 

# Display list2

# Now, do we have 2 variables? do we have 2 lists?

In [42]:
# Check whether we have 2 lists by changing the first element of list2 to be -1
# Print out both list1 and list2. Now do you think you have 1 or 2 lists?

In [43]:
# Use the copy() to copy list1 and store the result to list3

# Print out list3

In [44]:
# Now assign 0 to the first element of list1. Print out list1, list2 and list3
# Compare them. What differences do you see? Does this make sense?

In [60]:
# Other ways to copy a list
list1 = [0, 1, 2, 3, 4]
list2 = []
for item in list1:
    list2.append(item)
print(list2)
list2[0] = -1
print(list2)
print(list1)

[0, 1, 2, 3, 4]
[-1, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [61]:
list1 = [0, 1, 2, 3, 4]
list2 = [] + list1
print(list2)
list2[0] = -1
print(list2)
print(list1)

[0, 1, 2, 3, 4]
[-1, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

### Now You Try 2

In [45]:
# Create a list with the variable name 'names': Amy, John, Mia, Kevin
# Display names to be sure it is created properly

In [46]:
# Change the first name to Ella, print the list to confirm

In [47]:
# Add Emily and Kale by appending them to the end of the list. Print the list

In [48]:
# Use list concatenation to add ['Ruby', "Drew"] to the end of names. Display the result
# Don't store the result to names. Just display the result of concatenation

In [49]:
# Remove Kevin using remove(). Print the list

In [50]:
# Insert Adam as the 4th name using insert(). Print the list

In [51]:
# Sort the list in reversed order and Print it

In [52]:
# Check if 'Dylan' is in the list, if so print "found!" otherwise 'Cannot find Dylan'

### List and string

In [53]:
# Using split() to turn the string into a list of words using space as the seperator
poem = 'The Road Not Taken'

In [54]:
# Using split() to turn the string into a list of sentences using comma as the seperator
poem2 = 'Two roads diverged in a yellow wood, And sorry I could not travel both, And be one traveler, long I stood'\
'And looked down one as far as I could, To where it bent in the undergrowth;'

In [55]:
# Join the words in the list into a sentence. Note the the delimiter should be a space.
word_list = ['A', 'good', 'book', 'is', 'a', 'wonderful', 'world']

In [56]:
# Join the words in word_list in to a sentence. This time use | as the delimiter

In [86]:
# The following example joins strings in a list into a string of address
address_info = ['1275',  'E. 10th Street', 'Bloomington', 'IN', '47405']
address=" ".join(address_info)
address

'1275 E. 10th Street Bloomington IN 47405'

### Now You Try 3

In [34]:
# This is the string we used last week
quote = 'Your time is limited, so don\'t waste it living someone else\'s life.\
        Don\'t be trapped by dogma – which is living with the results of \
        other people\'s thinking.'
quote

"Your time is limited, so don't waste it living someone else's life.        Don't be trapped by dogma – which is living with the results of         other people's thinking."

In [57]:
# Use string split() and join() to get rid of the extra spaces?
# Step 1, use split() to create a list of words assigned to a variable words

# Step 2: use join() to put the words together, seperated by a space

In [58]:
# Split the quote into a list of sentences and save to the variable 'sentences'
# print the list out so you can see what they look like

In [59]:
# You can see that some sentences have spaces. Some items are empty strings from 
# the result above. Iterate through the list and print out the sentence if it is 
# not an empty string after remove the extra spaces from the sentence

# Step 1: use for loop to iterate through the variable sentences

# Step 2: inside the loop, check whether each sentence is an empty string

# Step 3: If not, use split() and join() to remove the spaces

# Step 4: Print out each sentence

### Two-dimentional list (nested list)

In [39]:
two_dim_list = [[3, 1, 4], [1, 5, 9]]
two_dim_list

[[3, 1, 4], [1, 5, 9]]

In [60]:
# Get the first inner list from two_dim_list

In [61]:
# Get the first element in the first inner list. What cell is it if two_dim_list represents a table?

In [62]:
# Get the first 2 element in the second inner list

In [63]:
# Iterate through two_dim_list using nested loops. Print out each element. The result should be values in a column

In [64]:
# Iterate through two_dim_list using nested loops. Print out the values in 2 rows with 3 value each.
# This is optional but fun to trial out

### Now You Try 4

In [ ]:
# Create a function named "get_commission()". It takes sales_list that contains sale revenues 
# as the argument. In the function, calcuate commission, which is 20% of sales. Store all
# commissions in a list named "commissions" and return it.

# The function is started for you here:
def get_commission(sales_list):
    # create an empty list for commission

    # Use a for loop to iterate through sales_list
    # Inside the for loop, calcuate commission and add it to the commission list

    # after the loop is over, return the list with commissions

In [65]:
# A sales revenue list is created below    
sales = [80, 35, 60, 45, 100]
# Call the function to generate commissions and print the commissions

In [ ]:
# Create a function named "get_numbers()". It takes a string as an argument. Returns a list
# that contains all the numbers in the string as a list. If no numbers are found, return an 
# empty string.

# start the function. Make sure it takes one parameter

# In the function, split the string into a list of words. 

# Create an empty list for numbers that might be in the string

# Use a for loop to go through each word, 
# check if the word is a number. If so, add it to the list.


# When the loop is over, return the list

In [66]:
# This is a string to test your function
a_str = '65 year’s old with 3 adult children'
# Call your function using this string as the argument

# Tuple

In [82]:
# Execute the code below and see the difference between a list, a tuple and a scalar (a simple number)
is_a_list = [1]
print(is_a_list)
not_a_tuple=(1)
print(not_a_tuple)
is_a_tuple=(1,)
print(is_a_tuple)

[1]
1
(1,)

In [44]:
# Multiple return values are passed back as a list
# The function below returns 2 values in a tuple
def get_stats(all_sales):
    total = 0
    for item in all_sales:
        total+=item
    average = total/len(all_sales)
    # The function is almost finished for you. Add the last line to return total and average as a tuple

In [67]:
# Call the function with the following sales list. Assign the return value to variable stats
sales = [89.4, 78.5, 56, 91, 63.3]

# Print out stats

# Try to change the first value of stats to 100. See what happens

### Now You Try 5

In [5]:
# Create a function min_max that takes a list as an argument. The parameter could have 
# any appropriate name. Return the min and max item of the list as a tuple

In [68]:
# Call the function using the following list named list1
# display the result
list1 = [98, 56, 44, 87, 66, 39]