# Week 1 Code and Now You Try

In [19]:
# This cell is for wide display and better use of screen space
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

C:\Users\ezmos\AppData\Local\Temp\ipykernel_17944\2720815156.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

## Variables

In [20]:
print('Hello World!')

Hello World!

In [21]:
name = "Eric"
print(name)

Eric

- Now Add a new cell below
- Record your name as I do in the cell below. Store it in a variable "name" as I do below
- Print out your name in the variable

### Now you try 1

In [22]:
# In this cell, create an variable named score1 and assign value 20 to it. Print it out
score1 = 20
print(score1)

20

In [23]:
# assign 50 to score1 and print it out. What did you get and why?
score1 = 50
print(score1)

50

In [24]:
# In this cell, print out Score1 (note the letter cases). What do you get and why?
print(score1)

'''
Output should = 50 because the variable {score1} has been reassigned to the value 50
(Assuming sequential flow from top down cells)
'''

50

'\nOutput should = 50 because the variable {score1} has been reassigned to the value 50\n(Assuming sequential flow from top down cells)\n'

## Statements, Operators and Expressions

In [25]:
# Assign 2 to variable x

# Add 2 to variable x and assign it back to x

# think what the value x should contain now. Print out x

x = 0.6

x = 30000

print(x)

'''
Output of {x} should be 30000 b/c 30000 is assigned to x at the end of the call stack.
'''

30000

'\nOutput of {x} should be 30000 b/c 30000 is assigned to x at the end of the call stack.\n'

In [26]:
x = 0.6
x = 3.9 * x * (1 - x)
x

0.9359999999999999

In [27]:
# Subtraction
# assign 2 to variable a

# subtract 5 from variable a and assign the result back to a

# print out a. Is it what you expect?

a = 8
a = 3
a -= 5

In [28]:
# Multiplication
# assign 440 multiplied by 12 to variable b

# print out b. Is it what you expect?
b = 440 * 12
b

5280

In [29]:
# Division
# assign b divided by 1000 to variable c

# print out c. Is it what you expect?

c = b / 1000
c

5.28

In [30]:
# Floor division or integer division
# execute the following code. Check out the result. How is it different from the previous one?
print(b // 1000)

5

In [31]:
# Modulo or remainder
# Get the remainder of 5 divided by 3. Save it to variable d

# print out d. Is it what you expect?

d = 5 % 3
d

2

In [32]:
# power
# print 2 to the power of 10

print(2**10)

1024

### Now you try 2

In [33]:
# Get the remainder of number 877759 divided by 23. Print it out
print(877759 % 23)

10

In [34]:
# write a statement to assign the result of adding 5 to 2 to the power of 3 and divide
# the addition result by 7 to variable x. Print out the result

x = (5 + 2 ** 3)/7
x

1.8571428571428572

In [35]:
# Divide 10 by 3 using both regular division and floor division.
# Print out the result and note the difference
print(f"10/3: {10/3}")
print(f"10//3: {10//3}")

10/3: 3.3333333333333335
10//3: 3

In [36]:
# Execute this code cell and think about what you get
print('1 + 1 =', 1 + 1)
print("'1' +'1' =", '1' + '1')
print('11 > 2 is', 11 > 2)
print('"11" > "2" is', "11" > "2")
print("1" * "2")  # error, because you can't multipy two strings together.

1 + 1 = 2
'1' +'1' = 11
11 > 2 is True
"11" > "2" is False

TypeError: can't multiply sequence by non-int of type 'str'

## Data Types

In [ ]:
ddd = 1 + 4
print(ddd)
eee = 'hello ' + 'there'
print(eee)
eee = eee + 1  # again you can't add a string to an int, it does not concatinate

5
hello there

TypeError: can only concatenate str (not "int") to str

In [ ]:
# type() can be used to detect the type of a variable or literal
# Get type of variable eee and print it out

print(type(eee))

<class 'str'>

In [ ]:
# Get type of literal 1 and print

type(1)

int

In [ ]:
# Get type of literal 10.67 and print

type(10.67)

float

In [ ]:
# Get type of boolean literal False

type(False)

bool

In [ ]:
# Excute the following code. What is the type of the result? Any thoughts?
1 + 0.9

# The output should be a floating point value because .9 is a decimal value

1.9

### Type Conversion

In [ ]:
# convert 1.4 to an integer using int(). What do you get? what is your thoughts?

int(1.4)

# Output is 1, because bits past the decimal have been truncated

1

In [ ]:
# convert True and Falso to integer. What do you get?


# output should be 0 or 1 for false or true, respectively

print(f"int(False): {int(False)}\nint(True): {int(True)}", end='')

int(False): 0
int(True): 1

In [ ]:
# convert string "100" to an integer. What do you get?
int("100")

# output is the integer value 100

100

In [ ]:
# convert string "One hundred" to an integer. What do you get?

# Output should be an error, or will be the summation of char values.

int("One hundred")

ValueError: invalid literal for int() with base 10: 'One hundred'

In [ ]:
# convert integer 99 to a float using float()

float(99)

99.0

In [ ]:
# Convert 99 to a float and add 100 to it. Print out the result. What do you get?

float(99) + 100

# Output is 199.0 which is a float b/c float + int = float

199.0

In [ ]:
# print out 101.99 add 50. What should you get? Does the result make sense? What do you learn?

101.99 + 50

# output is a float for the same reasons above

151.99

In [ ]:
# Convert string "3.14" to a float

float("3.14")

3.14

In [ ]:
# Convert string 'pi' to a float. What do you get?

float(pi)

# Output should be an error b/c can not convert alphanumerical characters to an int or float

NameError: name 'pi' is not defined

### Use input() to read from keyboard

Note that when calling input(), Jupyter notebook will be waiting for your answer. If you don’t provide any answer, the notebook will not respond to other commands.

In [ ]:
# Follow my lead to observe how input() works. Note how to make the display formatted better.
# Ask the user "What is your name:" using input()
# I will make changes. Take notes on the nuances

input_name = input("What is your name?")
print(f"Your name is {input_name}")

Your name is Eric

In [ ]:
# Get the type of variable name:

type(name)

str

In [ ]:
# Ask for age and store it in the variable named age
# print out type of age. Are you surprised?

age = input("What is your age?")
print(f"age = {age}")

type(age)

# output should be a str b/c that is the return value of the input function

age = 20

str

In [ ]:
# Ask for age again, this time, convert it to int before save it to 'age' variable.
# print out the type of age


age = int(input("What is your age?"))
print(f"age = {age}")

type(age)

age = 20

int

### print() function explained

In [ ]:
# you can print a single value of different types.
print(1)
print(10.5)
print("abc")
print(True)

1
10.5
abc
True

In [ ]:
# multiple values can be printed by passing them as arguments
print('IU has', 8, 'campuses')

IU has 8 campuses

In [ ]:
# You can convert all values to be strings, concatenate them then pass to print()
print('IU has '+str(8)+' campuses')

IU has 8 campuses

In [ ]:
print('IU has '+8+' campuses')

TypeError: can only concatenate str (not "int") to str

### Now you try 3

In [ ]:
# Create a variable my_int with value 10, a variable my_float with value 5.46
my_int = 10
my_float = 5.46

In [ ]:
# print out the data type of these two variables
print(type(my_int))
print(type(my_float))

<class 'int'>
<class 'float'>

In [ ]:
# Create a variable my_bool. Assign the value of whether my_int is greater than 9. Print it
my_bool = my_int > 9
my_bool

True

In [ ]:
# Create a string variable named my_str with value 'IU'. Print it
my_str = 'IU'
my_str

'IU'

In [ ]:
# Add 5 to my_int
my_str + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Add '47405' to my_str. What do you get?

my_str + '47405'

'IU47405'

In [ ]:
# Add my_int to my_str. What do you get?

my_str + my_int

# Output is an error b/c invalid type addition operation

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Convert my_int to float using float(). Do you see the difference?

float(my_int)

# Output is a float

10.0

In [ ]:
# Convert my_int to string using str()

str(my_int)

'10'

In [ ]:
# Convert my_str to int using int(). What do you get?

int(my_str)

# Error b/c alphabetic characters can't be converted to numeric values

ValueError: invalid literal for int() with base 10: 'IU'

In [ ]:
# Convert my_float to int using int(). Can you succeed? Do you lose anything?
# Should you do it?

int(my_float)

# Lose values past decimal
# Should be done when attempting to access an index

5

In [ ]:
# Ask the user to enter their salary in thousands. Convert it to an integer and save to variable
# my_salary. Print out my_salary multiplied by 1000

my_salary = input("Please enter your salary in units of (1000).")
int(my_salary.strip()) * 1000

200000

## Conditional Flow

Order code is executed

### Logical Expressions

In [ ]:
# Check out the comparison operators
x = 12
y = 3.7
# print out the values of x > y

x > y

True

In [ ]:
# print out the values of x < y
x < y

False

In [ ]:
# print out the values of x != y

x != y

True

In [ ]:
# print out the values of x == y
x == y

False

In [ ]:
# execute the following to see the error message. Why?
5 = 2

#5 is not a variable that can be assigned, this is not a boolean operation

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2316373172.py, line 2)

### if statement syntax

In [ ]:
# This is an example of how to write a if statement. study it
# and execute the code below. Do you get what you expect?
# now set y = 12 before the if statement and execute the code again.

print(f"x = {x}")
print(f"y = {y}")
if x == y:
    print('x equals to y')
else:
    print('x does not equal to y')

y = 12
print(f"x = {x}")
print(f"y = {y}")
if x == y:
    print('x equals to y')
else:
    print('x does not equal to y')

x = 12
y = 3.7
x does not equal to y
x = 12
y = 12
x equals to y

In [ ]:
# Now execute the following code. What error did you get?
# Can you fix it?
if x == y:
print('x equals to y')
else:
print('x does not equal to y')

#Indentation error b/c python does not like using brackets

IndentationError: expected an indented block after 'if' statement on line 3 (3579059746.py, line 4)

In [ ]:
# Now execute the following code. What error did you get?
# Can you fix it?
if x == y:
    print('x equals to y')
else:
    print('x does not equal to y')

# Colon required before indented statements

x equals to y

### Simple if-else statement

In [ ]:
# Follow me to write code for checking temperature and make choices
# Ask what the temprature is now. Conver the input to int and save to variable 'temp'

# If temp is less than 60, print out two lines: 'It is cold outside' and 'Let's bring a coat'.

# Otherwise, print out 2 different lines: 'It is warm outside!' and 'No need to bring a coat'.

# Finally, no matter what temperature it is, print out 'Heading out for a walk'

temp = int(input("What is the temperature right now").strip())
print(f"temp = {temp}")
if temp < 60:
    print('It is cold outside\nLet\'s bring a coat')
else:
    print('It is warm outside!\nNo need to bring a coat')

print("Let's head out for a walk.")

temp = 120
It is warm outside!
No need to bring a coat
Let's head out for a walk.

### Now You Try 4

In [ ]:
# Ask "What time is it now?" using input(). Convert it to integer using int()
# save the result to a variable time. Write a if statement. Check:
# if time is less than 18, print out first 'Good day!'. Then print out 'Several more hours to go'
# Otherwise, print out first 'Good evening!'. Then print out 'Relax now'
# Print out "Goodbye" no matter what time it is.


time = int(input("What time is it right now?").strip())

if time < 18:
    print("Good Day!\nSeveral more hours to go.")
else:
    print("Good eventing!\nRelax Now.")
print("Goodbye")

Good Day!
Several more hours to go.
Goodbye

### Nested if statement

Determine if someone qualifies for a loan, they must meet two conditions:

1. Must earn at least $30,000/year
1. Must have been employed for at least two years

Check the first condition, if it is true, check second condition. Print out relevant feedback

In [40]:
# Declare 2 variables to hold the salary and years worked
salary = 40000
years_on_job = 1.5
# Check if salary is at least $30,000

# check if working experience is at least 2 years

# print out proper feedback

# if years worked are not two or more, print out another feedback


# if salary is not 30000 or more, print proper feedback

if salary >= 30000:
    if years_on_job >= 2:
        print("Congratulations, you qualify for a loan!")
    else:
        print("Unfortuantely, you do not have enough experience.")
else:
    if years_on_job >= 2:
        print("Unfortuantely, your salary is inssuficient.")
    else:
        print("Unfortuantely, your salary and experience are inssuficient")

Unfortuantely, you do not have enough experience.

### if elif else

This can be used to replace nested if and make the code more readable

In [41]:
# Rewrite code of nested if statement above with if-elif-else

if salary >= 30000 and years_on_job >= 2:
    print("Congratulations, you qualify for a loan!")
elif salary < 30000 and years_on_job < 2:
    print("Unfortuantely, your salary and experience are inssuficient")
elif salary >= 30000:
    print("Unfortuantely, you do not have enough experience.")
else:
    print("Unfortuantely, your salary is inssuficient.")

Unfortuantely, you do not have enough experience.

### Complex Logical Expression

Use and, or, not with () to create complex logical expression consists of multiple simple conditions

In [42]:
# Use the salary variable above, create a complex condition of salary is not lower than 30000 and
# working experience is not lower than 2 years. Print out the result


# I did this logic above
# I'm just going to function wrap this for these prompts

def loan_qualification_check(salary, years_on_job):
    if salary >= 30000 and years_on_job >= 2:
        print("Congratulations, you qualify for a loan!")
    elif salary < 30000 and years_on_job < 2:
        print("Unfortuantely, your salary and experience are inssuficient")
    elif salary >= 30000:
        print("Unfortuantely, you do not have enough experience.")
    else:
        print("Unfortuantely, your salary is inssuficient.")


loan_qualification_check(salary, years_on_job)

Unfortuantely, you do not have enough experience.

In [43]:
# Use the salary variable above, create a complex condition of salary is lower than 30000 or
# working experience is lower than 2 years. Print out the result


# Already demonstrated proficiency I hope.
loan_qualification_check(salary, years_on_job)

Unfortuantely, you do not have enough experience.

In [44]:
# Use the salary variable above, create a complex condition of salary is not lower than 30000
# using not. Print out the result

if not (salary < 30000):
    print("You have sufficient funds")

You have sufficient funds

In [45]:
# Rewrite the above if statement of loan application using logical operators 'and', 'or', 'not'

loan_qualification_check(salary, years_on_job)

Unfortuantely, you do not have enough experience.

### Now You Try 5

In [46]:
# Rewrite the code to check whether one is qualified for loan using a complex logical condition with "or"
loan_qualification_check(salary, years_on_job)

Unfortuantely, you do not have enough experience.

In [48]:
# Write code to convert point grade to letter grade with the rules:
# If not less than 90, “A”
# Otherwise, if not less than 80, display “B”
# Otherwise, if not less than 70, display “C”
# Otherwise, if not less than 60, display “D”
# Otherwise, display “F”
# Use input() to ask for a score between 0 and 100


score = int(input("Please input your score (0-100).").strip())


def get_letter_grade(score):
    if not (score < 90):
        return "A"
    elif not (score < 80):
        return "B"
    elif not (score < 70):
        return "C"
    elif not (score < 60):
        return "D"
    else:
        return "F"


print(get_letter_grade(score))

A